@import '~bootstrap/scss/bootstrap.scss';

.jobs
  &-header
    button
      width: 80px
      .title
        display: block
      .icon
        display: none
    .spacer
      flex: 1 1 auto
  &-body
    background: #eee


@include media-breakpoint-down(sm)
  .jobs-header button
    width: 40px
    .title
      display: none
    .icon
      display: block
  // app-job-info
  //   display: none
